@mixin elementOutline {
    &:focus-visible {
        transition: none;
        outline: 2px solid $colour-accent--tertiary;
        outline-offset: 1px;

        animation: fadeInOutline 0.3s ease-out forwards;

    }
}