button, input[type="submit"] {
    @include elementOutline();    

    color: $colour-dark-text;
    background-color: $colour-dark-button;

    padding: 12px 30px;

    border-radius: 30px;
    border: none;

    font-weight: 600;

    transition: ease-in-out 0.2s;


    &:hover {
        background-color: $colour-dark-button--hover;
    }
    &:active {
        background-color: $colour-dark-button--selected;
    }
}