textarea, input[type="text"], input[type="email"] {
    @include elementOutline;

    border: none;
    border-radius: 10px;
    padding: 9px 0 10px 0;


    resize: vertical;

    min-height: fit-content;

    font-size: 15px;

    color: $colour-dark-text;
    background-color: $colour-dark-button;

            padding-left: 10px;

    &::placeholder {
    }
}