header {
    background: $colour-dark-background--secondary;

    border-right: 1px solid darken($colour-dark-background, 5%);
}

.nav-headerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 50px;
    padding: 5px 5px 0 5px;

    button {
        margin: 2px 0 2px 0;
    }
    p {
        padding-top: auto;
        font-weight: 600;
    }

}

.nav-links {
    width: 100%;
}
.nav-links ul {
    padding: 0;
    margin: 20px 0 20px 0;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    li {
        list-style-type: none;
        width: 100%;
    }
}

.nav-link-item {
    @include elementOutline();
    border-radius: 30px;

    text-align: left;

    width: 93%;
    height: 60px;
    padding-left: 20px;
}

.nav-icon {
    pointer-events: none;
    position: relative;
    right: -100px;
    bottom: 30px;
    font-size: 36px;
}

.nav-link-external {
    @include buttonColour($colour-dark-button);
    background: linear-gradient(90deg, rgba(56, 56, 59, 1) 0%, rgba(147, 110, 176, 1) 100%);
}

.nav-link-highlight {
    @include buttonColour($colour-dark-button);
    background: linear-gradient(90deg, rgba(56, 56, 59, 1) 0%, rgba(52, 131, 230, 1) 100%);
}