* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: $colour-dark-text;
	background-color: $colour-dark-background;

	&::selection {
		color: white;
		background-color: $colour-accent--tertiary;
	}
}